__pycache__/
*.py[cod]
src/static/img/*.jpg
src/static/img/*.png
src/static/img/*.gif
*.cpython
migrations/

.idea/
.vscode/
.venv*/
venv*/

dist/
.coverage*
htmlcov/
.tox/
docs/_build/%
.DS_Store
migrations/*
