{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
<ul class="items">
	{% for artist in artists %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ artist.name }}</h5>
			</div>
		</a>
	</li>
	<li>
		<form>
			<div class="item">
				<i class="fas fa-trash-alt"></i>
				<input 	type="submit"
								value="Delete"
								class="btn btn-link"
								formmethod="post"
								formaction="{{
									url_for('delete_artist', artist_id=artist.id)
								}}">
			</div>
		</form>
	</li>
	{% endfor %}
</ul>
{% endblock %}